{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h4><i class="fas fa-exclamation-triangle me-2"></i> Error</h4>
                </div>
                <div class="card-body">
                    <p class="lead">An error occurred while processing your request:</p>
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                    
                    <div class="mt-4">
                        <a href="{{ url_for('index') }}" class="btn btn-primary">
                            <i class="fas fa-home me-1"></i> Return to Home
                        </a>
                        <a href="javascript:history.back()" class="btn btn-secondary ms-2">
                            <i class="fas fa-arrow-left me-1"></i> Go Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}